git+ssh://git@github.com/april-tools/cirkit.git@complex-circuits
torch~=2.2.0
numpy<2.0.0
pandas<2.0.0
scikit-learn
zuko
scipy
torchvision
seaborn
matplotlib
pillow
tqdm
tensorboard
tueplots
h5py
tbparse
wandb
