libcirkit@git+https://github.com/april-tools/cirkit@429dc89681b914807287ec52dd4012b2fdfb84b3
torchvision~=0.18.0
pandas<2.0.0
scikit-learn
zuko
scipy
seaborn
matplotlib
pillow
tqdm
tensorboard
tueplots
h5py
tbparse
wandb
opencv-python
