libcirkit@git+https://github.com/april-tools/cirkit@032e4e6a80491f486c076145a206c04259412074
torchvision~=0.18.0
pandas<2.0.0
scikit-learn
zuko
seaborn
matplotlib
pillow
tqdm
tensorboard
tueplots
h5py
tbparse
wandb
opencv-python
